<div class="container">
<h2>
  {{'LOGIN'| translate}}
</h2>
<p> {{'LOGINMESSAGE'|translate}}</p>
<div class="form-group">
  <label> {{'USERNAME'| translate}}:</label>
  <input #name type="text" class="form-control">
  <label> {{'PASSWORD'| translate}}:</label>
  <input #password type="password" class="form-control" (keydown.enter)="login(name.value,password.value)" >
</div>
  <button class="btn btn-primary" (click)="login(name.value, password.value)"> {{'LOGIN'| translate}}</button>
  <button class="btn btn-primary" (click)="loginWithFacebook()"> {{'LOGINFB'| translate}}</button>
  <div *ngIf="error === true" class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Username not found or password is wrong
  </div>
   <div *ngIf="failed === true" class="alert alert-warning alert-dismissible">
     You must insert Password and Username
  </div>
 <button type="button" class="btn btn-primary" (click)="gotoCreate()">{{'CREATEUSER'|translate}}</button> 
</div>