.navbar {
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}