<div class="container">
<table *ngIf="loggedIn === true" class="table table-responsive table-striped">
      <thead>
        <tr>
          <th> Username</th>
          <th> Options </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let user of user"  [class.selected]="isSelected(user)" (click)="onSelect(user)">
          <td>{{user.name}}</td>
          <td>
             <div class="btn-group">
            <button *ngIf="decoded.isAdmin === true" type="button" class="btn btn-danger" (click)="deleteUser(user); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button *ngIf="decoded.isAdmin === true || decoded.username === user.name" type="button" class="btn btn-primary" (click)="gotoEdit(user)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              </div>
              </td>
        </tr>
       </tbody>
</table>
<div *ngIf="loggedIn === false">
  <h3>Bitte erst einloggen um fortzufahren</h3>
</div>
</div>
