<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
               (click)="toggleState()" >
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
            <form class="navbar-form">
                <button type="button" class="btn btn-primary navbar-btn navbar-left" (click)="goBack()"> {{'BACK'|translate}} </button>
            <ul class="nav navbar-nav" >
           <li> <a  routerLink="/user">{{'USER' | translate}}</a></li>
           <li> <a  routerLink="/posts">{{'POSTS'| translate}}</a></li>
           <li> <a  routerLink="/topics">{{'TOPICS' | translate}}</a></li>
           <li> <a  routerLink="/login">{{'LOGIN' | translate}}</a> </li>
            </ul>
            
            <div class="navbar-right">
           
            <select #langSelect (change)="translate.use(langSelect.value)" class="selectpicker form-control ">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
            
                <button type="button" class="btn btn-primary navbar-btn " (click)="logout()">{{'LOGOUT' | translate}}</button>
            
            </div>
            </form>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>