
<div class="container" *ngIf="post">
    <h2>{{post.title}}</h2>
    <p>{{post.Username}}</p>
  <input hidden [value]="post_id" #id/>

    <div class="panel panel-default" *ngFor="let comment of comments">
    <div class="panel-heading"> {{comment.title}}
      <button type="button" class="btn btn-primary btn-sm pull-right" (click)="deleteComment(comment); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
      </div>
      <div class="panel-body">  {{comment.content}}</div>
          <li class="list-group-item">{{comment.Username}}</li>
     
    </div>
<div >
    <label> new title: <input #title  /> </label>
  <label> new content: <input #content  /> </label>
  
  <button class="btn btn-info" (click)="addComment(title.value, content.value,id.value)">Add</button>
</div>

</div>