<div class="container" *ngFor="let comment of comment">
  <div *ngIf="decoded.username === comment.Username" class="form-group">
  <label> {{'COMMENTTITLE'| translate}}: </label>
  <input #title [(ngModel)]="comment.title" class="form-control" (keydown.enter)="editComment(comment.title,comment.content,comment._id)"/>
  <label> {{'COMMENTCONTENT'| translate}}: </label>
  <textarea #content [(ngModel)]="comment.content" class="form-control" rows="5" (keydown.enter)="editComment(comment.title,comment.content,comment._id)"></textarea>
  <input hidden #id [(ngModel)]="comment._id"/>
  </div>
   <button class="btn btn-info" (click)="editComment(comment.title,comment.content,comment._id)">{{'EDIT'| translate}}</button>
</div>