
<div class="container" *ngFor="let comment of comment">
  <div *ngIf="decoded.username === comment.Username">
  <label> {{'COMMENTTITLE'| translate}}: <input #title [(ngModel)]="comment.title" (keydown.enter)="editComment(title.value, content.value,id.value)"/></label>
  <label> {{'COMMENTCONTENT'| translate}}: <input #content [(ngModel)]="comment.content" (keydown.enter)="editComment(title.value, content.value,id.value)"/></label>
  <input hidden #id [(ngModel)]="comment._id"/>
   <button class="btn btn-info" (click)="editComment(title.value, content.value,id.value)">{{'EDIT'| translate}}</button>
  </div>
</div>