<div class="container">
  <h1>BlacklistManagement</h1>
  <table class="table table-responsiv table-striped">
    <thead>
      <tr>
        <td>Lastname</td>
        <td>Firstname</td>
        <td>E-Mail</td>
        <td>Blacklisted from</td>
        <td>Blacklisted at</td>
        <td>Options</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>asd</td>
        <td> asd</td>
        <td>das@</td>
        <td>asd</td>
        <td>23.04</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
