<div class="container"> 
 <table class="table table-responsive table-striped">
      <thead>
        <tr>
         <th class="col-xs-7"> {{'POSTS'| translate}}</th>
          <th class="col-xs-3"> {{'USERNAME'| translate}}</th>
          <th class="col-xs-2"> {{'OPTIONS'| translate}} </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let post of posts"  [class.selected]="isSelected(post)" (click)="onSelect(post)" >
          <td>{{post.title}}</td>
          <td>{{post.Username}}</td>
          <td>
            <div *ngIf="loggedIn === true" class="btn-group">
              <button *ngIf="decoded.isAdmin === true" type="button" class="btn btn-danger" (click)="deletePost(post); $event.stopPropagation()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button *ngIf="decoded.username === post.Username" type="button" class="btn btn-primary" (click)="gotoEdit(post)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
 <!--   <pagination-controls (pageChange)="page = $event" id ="1"></pagination-controls>-->

<div *ngIf="loggedIn === true">
  <label> {{'NEWTITLE'| translate}}: </label>
  <input #title class="form-control" /> 
  <label> {{'NEWTOPIC'| translate}}: </label>
   <input #topics class="form-control" /> 
  <br>
  <button class="btn btn-info" (click)="addPost(title.value, topics.value); topics.value=''; title.value=''">{{'ADD'| translate}}</button>
</div>
<div *ngIf="loggedIn === false">
  <h3>{{'LOGINMESSAGE'| translate}} </h3>
</div>
</div>
